<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
	    <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Reports</a></li>
	        <li><a href="#">Handbook</a></li>
	        <li><a href="#">Profile</a></li>
	      </ul>
	    </div><!--/.navbar-collapse -->
	  </nav><!-- end nav -->
      <div class="jumbotron">
		<h1>Path Name</h1>
		  <h2>Custodian Name</h2>		
          <form class="form-horizontal" id="form-path-search" role="form">
			  <div class="form-group">
			    <label for="search" class="sr-only control-label">Path search</label>
			    <div class="col-lg-offset-2 col-lg-8">
			      <input type="password" class="form-control" id="search" placeholder="Enter path name">
			    </div>
			  </div>
		  </form>		
      </div><!-- end jumbotron -->
	
      <div class="row">
        <section class="col-lg-7">			
			<div class="panel panel-success">
			  <header class="panel-heading">
			    <h3 class="panel-title">Reports</h3>
			  </header>
			  <table class="table table-hover">
				<thead>
				  <tr>
				    <th>Date</th>
				    <th>Custodian</th>
				    <th>Status</th>
				  </tr> 
				</thead>
			    <tbody>
				  <tr>
					<td>November 20, 2013</td>
					<td>Tali &amp; Anand</td>
					<td><button type="button" class="btn btn-danger">In Progress</button></td>
				  </tr>
				  <tr>
				    <td>May 16, 2013</td>
					<td>Tali &amp; Anand</td>
					<td><button type="button" class="btn btn-default">Completed</button></td>
				  </tr>
				  <tr>
				    <td>November 25, 2012</td>
					<td>Tali &amp; Anand</td>
					<td><button type="button" class="btn btn-default">Completed</button></td>
				  </tr>
				  <tr>
				    <td>June 5, 2012</td>
					<td>Tali &amp; Anand</td>
					<td><button type="button" class="btn btn-default">Completed</button></td>
				  </tr>
			    </tbody>
			  </table>
			</div><!-- end panel -->
						
			<div class="panel panel-info">
			  <header class="panel-heading">
			    <h3 class="panel-title">News</h3>
			  </header>
			    <ul class="list-group">
			      <li class="list-group-item">
			        <h6 class="pull-right">Date</h6>
			        <h4>News Subject</h4>
			        <p>Message snippet...</p>
			      </li>
			      <li class="list-group-item">
			        <h6 class="pull-right">Date</h6>
			        <h4>News Subject</h4>
			        <p>Message snippet...</p>
			      </li>
			      <li class="list-group-item">
			        <h6 class="pull-right">Date</h6>
			        <h4>News Subject</h4>
			        <p>Message snippet...</p>
			      </li>
			    </ul>
			</div>  <!-- end panel -->        
        </section><!-- end col-7 -->

		<section class="col-lg-5">
		  <div class="panel panel-success">
		    <header class="panel-heading">
		      <h3 class="panel-title">Trail Stats</h3>
		    </header>
		      	<ul class="list-group stats">
					<li class="list-group-item" id="blocked"><span class="badge">00</span> Trees blocking trail</li>
		            <li class="list-group-item" id="leaning"><span class="badge">00</span> Trees leaning over trail</li>
					<li class="list-group-item" id="dead"><span class="badge">00</span> Unstable/dead trees</li>		            
		            <li class="list-group-item" id="narrowing"><span class="badge">00</span> Narrowing/overgrown trail</li>
		            <li class="list-group-item" id="wet"><span class="badge">00</span> Wet/boggy areas on trail</li>
		            <li class="list-group-item" id="erosion"><span class="badge">00</span> Erosion areas on/near trail</li>
					<li class="list-group-item" id="damaged"><span class="badge">00</span> Damaged structures</li>
					<li class="list-group-item" id="clarification"><span class="badge">00</span> Clarification needed</li>
					<li class="list-group-item" id="hazard"><span class="badge">00</span> Hazard (miscellaneous)</li>				  
				</ul>
		  </div> 
		
		<div class="panel panel-primary">
		    <header class="panel-heading">
		      <h3 class="panel-title">Custodian Tools</h3>
		    </header>
		      	<ul class="list-group">
					<li class="list-group-item"><a href="#">Custodian Path Map</a></li>
		            <li class="list-group-item"><a href="#">Custodian Quick Notes</a></li>				  
				</ul>
		  </div>        
        </section><!-- end col-5 -->
	  </div><!-- end row -->
	  <section class="container gallery">
		<div class="row">
		  <header class="col-lg-12"><h3>Recent Images</h3></header>
	    	<div class="col-lg-3"><a href="#"><img class="img-thumbnail" src="../../assets/images/gallery1.png" alt="Gallery 1"></a></div>
	    	<div class="col-lg-3"><a href="#"><img class="img-thumbnail" src="../../assets/images/gallery2.png" alt="Gallery 2"></a></div>
	    	<div class="col-lg-3"><a href="#"><img class="img-thumbnail" src="../../assets/images/gallery3.png" alt="Gallery 3"></a></div>
	    	<div class="col-lg-3"><a href="#"><img class="img-thumbnail" src="../../assets/images/gallery4.png" alt="Gallery 4"></a></div>
	    </div>
	 </section>
	

      <footer class="footer">
        <p>&copy; East Coast Trail Association 2013</p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
