/* Main styles for ECTA Custodian App */
/* Colors */
/* Fonts */
@font-face {
  font-family: 'source_sans_proregular';
  src: url('../../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('../../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'), url('../../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_probold';
  src: url('../../fonts/sourcesanspro-bold-webfont.eot');
  src: url('../../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/sourcesanspro-bold-webfont.woff') format('woff'), url('../../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'), url('../../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prolight';
  src: url('../../fonts/sourcesanspro-light-webfont.eot');
  src: url('../../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/sourcesanspro-light-webfont.woff') format('woff'), url('../../fonts/sourcesanspro-light-webfont.ttf') format('truetype'), url('../../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  height: 100%;
  font-family: 'source_sans_proregular';
  background-color: #2f5772;
}
/* Transparent white */
.navbar-default {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
}
.navbar-default .navbar-nav > li > a {
  margin-right: 0.5em;
  color: black;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}
footer {
  margin: 0 auto 1%;
  padding: 2em;
  height: 10%;
  width: 100%;
  text-align: center;
  background-color: #1c330d;
  color: white;
}
footer a {
  color: white;
}
footer a:hover {
  color: #508db7;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: 'source_sans_proregular';
}
.jumbotron {
  margin-bottom: 2em;
  padding: 100px 48px;
  position: relative;
  background-color: #1c330d;
  background-image: url('../../assets/images/hero-narrow.jpg');
}
.jumbotron h1 {
  margin: 0 0 0 0;
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px 2px #969696;
}
.jumbotron h2 {
  margin: 0 0 0 0;
  position: absolute;
  right: 0;
  bottom: -1em;
  font-size: 1em;
  color: white;
  text-shadow: 2px 2px 2px #969696;
}
/*
#form-path-search {
    position: absolute;
    top: 200;
}
*/
/*
.path-info {
    padding: 5%;
    height: auto;
    width: 100%;
    background-color: lighten(@secondary, 10%);
}
 */
table.snapshot {
  background-color: #203b4e;
  color: white;
}
table.snapshot th {
  font-size: 1.2em;
}
table.snapshot tr.col-data {
  background-color: white;
  color: #2f5772;
  text-transform: uppercase;
  font-family: 'source_sans_probold';
}
/*
.news {
    background-color: lighten(@secondary, 40%);
    li {font-size: 1.2em; text-transform: uppercase;}
    tr.col-data {
        font-family: 'source_sans_probold';
    }
}
*/
ul.stat {
  margin-bottom: 1em;
  margin-left: 0;
  list-style-type: none;
  font-size: 1em;
  line-height: 2.4em;
}
ul.stat li {
  margin-left: 0;
  padding-left: 2.5em;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-color: transparent;
}
ul.stat li .badge {
  margin-top: 7px;
}
ul.stat li#blocked {
  background-image: url('../../assets/images/blocked.png');
}
ul.stat li#leaning {
  background-image: url('../../assets/images/leaning.png');
}
ul.stat li#damaged {
  background-image: url('../../assets/images/damaged.png');
}
ul.stat li#narrowing {
  background-image: url('../../assets/images/narrowing.png');
}
ul.stat li#wet {
  background-image: url('../../assets/images/wet.png');
}
ul.stat li#dead {
  background-image: url('../../assets/images/dead.png');
}
ul.stat li#erosion {
  background-image: url('../../assets/images/erosion.png');
}
.gallery {
  background-color: #1c330d;
  padding-bottom: 4em;
}
.gallery h3 {
  color: white;
}
.gallery img {
  /* width: 100%;
        max-width: 200px;
        overflow: hidden;*/

}
