<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/css/ico/favicon.png">

    <title>ECTA Custodian App</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Reports</a></li>
            <li><a href="#">Handbook</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
  </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <header class="jumbotron">
        <div class="brand">
          <img src="../../assets/images/ECTA_logo_white.png" class="img-responsive" alt="ECTA Logo">
        </div><h1>Path Name</h1>
      <img src="../../assets/images/hero.jpg" class="img-responsive" alt="Hero">
    </header>

    <section class="path-info">
      <div class="row">
        <div class="col-md-8">
         <table class="table snapshot">
        <thead>
          <tr>
            <th colspan="3">Report Snapshot</th>
          </tr>
        </thead>
        <tbody>
          <tr class="col-data">
            <td>Date Submitted</td>
            <td>Custodian</td>
            <td>Status</td>
          </tr>
          <tr>
            <td>May 16, 2013</td>
            <td>Tali &amp; Anand</td>
            <td>In Progress</td>
          </tr>
          <tr>
            <td>May 26, 2013</td>
            <td>Tali &amp; Anand</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>May 14, 2013</td>
            <td>Tali &amp; Anand</td>
            <td>Completed</td>
          </tr>
        </tbody>
      </table>

      <table class="table news">
        <thead>
          <tr>
            <th colspan="2">News</th>
          </tr>
        </thead>
        <tbody>
          <tr class="col-data">
            <td>Date</td>
            <td>Subject</td>
          </tr>
          <tr>
            <td>May 16, 2013</td>
            <td>Message from the Board</td>
          </tr>
          <tr>
            <td>May 26, 2013</td>
            <td>Thank you to our Valued Volunteers!</td>
          </tr>
          <tr>
            <td>May 14, 2013</td>
            <td>Items to Note: 2011 Reporting Season</td>
          </tr>
        </tbody>
      </table>
    </div>

        <div class="col-md-4">
          <div class="well trail-stats">
          <h2>Trail Stats</h2>
          <ul class="stat">
            <li id="blocked"></li>
            <li id="leaning"></li>
            <li id="damaged"></li>
            <li id="narrowing"></li>
            <li id="wet"></li>
            <li id="dead"></li>
            <li id="erosion"></li>
          </ul>
        </div>
        </div>
      </div>
    </section>

    <section class="container gallery">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-sm-6 col-md-3">
          <h2>Recent Images</h2>
          <a href="#"><img src="../../assets/images/gallery1.png" class="img-responsive blur" alt="Gallery 1"></a>
        </div>
        <div class="col-sm-6 col-md-3">
          <h2>&nbsp;</h2>
          <a href="#"><img src="../../assets/images/gallery2.png" class="img-responsive" alt="Gallery 2"></a>
        </div>
        <div class="col-sm-6 col-md-3">
          <h2>&nbsp;</h2>
          <a href="#"><img src="../../assets/images/gallery3.png" class="img-responsive" alt="Gallery 3"></a>
        </div>
        <div class="col-sm-6 col-md-3">
          <h2>&nbsp;</h2>
          <a href="#"><img src="../../assets/images/gallery4.png" class="img-responsive" alt="Gallery 4"></a>
        </div>
      </div>

    </section>


      <footer>
        <p><a href="http://www.eastcoasttrail.ca/" alt="ECTA" />&copy; East Coast Trail Association 2013</a></p>
      </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
